<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>cards uwu</title>
	<link rel="stylesheet" href="/components/responsive card/style.css">
</head>

<body class="container">
	<h1 class="container-title">Peliculas</h1>

	<button class="ss-categories">Categorias</button>
	<div class="ss-categories-submenu">
		<ul class="ss-categories-submenu-list">
			<li class="ss-list-component">
				<a class="ss-list-component-text" href="">Drama</a>
			</li>
			<li class="ss-list-component">
				<a class="ss-list-component-text" href="">Terror</a>
			</li>
			<li class="ss-list-component">
				<a class="ss-list-component-text" href="">Comedia</a>
			</li>
		</ul>
	</div>

	<div class="ss-container">

		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
		<div class="ss-container-box">
			<img src="/components/responsive card/img/Dracula.webp" alt="imagen de la pelicula">
			<p>Titulo de pelicula</p>
		</div>
	</div>
	<script src="/components/responsive card/main.js"></script>
</body>

</html>